.DS_Store


## R files
.RData
.RHistory
.Rapp.history.Rproj.user/*

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bcf
.*.lb
*.blg
*.bbl
*.bdg_latexmk
*.fdb_latexmk
*.synctex.gz
